<section class="page-title">
  <div class="container">
    <h2><span><%= t 'registration' %></span></h2>
    <!-- <ul class="list-inline"> -->
      <!-- <li><a href="/">Home</a></li> -->
      <!-- <li><a href="#"><i class="fa fa-angle-right"></i>Congreso</a></li> -->
    <!-- </ul>/.list-inline -->
  </div><!-- /.container -->
</section><!-- /.page-title -->


<section class="event-sponsor sec-pad">
  <div class="container">
    <div class="sec-title text-center" >



<style>
table {
  center
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 70%;
}

td, th {
  border: 2px solid #050000;
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>

<center>
  <h2>Inscripciones</h2>
</center>
<div align="left">   

El arancel que deberá abonar depende de su categoría y la cantidad de cursos a realizar.<br><br>

Las categorías consideradas, y el arancel correspondiente, son las siguientes:
</div>
<br>
<br>
<br>


<center>
<table>
  <tr>
    <th><h5><center>Categoría</center></h5></th>
    <th><h5>Un curso</h5></th>
    <th><h5>Dos cursos</h5></th>
  </tr>
  <tr>
    <td><center> Estudiantes de Universidades Públicas </center></td>
    <td>400</td>
    <td>600</td>
  </tr>
  <tr>
    <td><center>Docentes e Investigadores de Instituciones Nacionales y Provinciales </center></td>
    <td>500</td>
    <td>800</td>
  </tr>
  <tr>
    <td><center>Profesionales y otros.</center> </td>
    <td>600</td>
    <td>1000</td>
  </tr>

</table>

</center>
<br>
<br>

<div align="left">   

Los cursos no tienen arancel para los alumnos pertenecientes a la U.N.R.C. <br><br>

Por otro lado, los egresados de la U.N.R.C. deberán abonar el arancel acorde la Categoría "Estudiantes de Universidades Públicas". <br><br>

El costo del la Choripaneada y del Viaje a las Sierras (con almuerzo incluido) es de $300 para todas las categorías. <br><br>

Para realizar su inscripción debe completar el siguiente complete el
     <a href="https://forms.gle/Sa3KAyt3LRtz3Pz87" target="_blank"> <strong><font size="3"> Formulario de Inscripción </strong></font></a> . <br><br>

</div>
<div align="left">   

<!--     <br>
    <br>
    Para realizar la inscripcion al Congreso, complete el
     <a href="http://weblidi.info.unlp.edu.ar/sac_congreso/inscripcionCongreso.php?idEvento=106" target="_blank"> <strong><font size="3"> Formulario de Inscripción </strong></font></a> 
        </div>
  </p> -->
  </div><!-- /.sec-title text-center -->
</div>
</section>
