<section class="page-title">
  <div class="container">
    <h2><span><%= t 'scholarships' %></span></h2>
 <!--    <ul class="list-inline">
      <li><a href="/">Home</a></li>
      <li><a href="#"><i class="fa fa-angle-right"></i> <%= t 'transportation' %></a></li>
    </ul>/.list-inline -->
  </div><!-- /.container -->
</section><!-- /.page-title -->

<section class="event-sponsor sec-pad">
  <div class="container">
    <div class="sec-title text-center">
      <h2><%= t 'scholarships' %></h2>
    </div>

  <h3><u><%= t 'scholarship_title' %></u></h3>
  <p class="justi">

    La RIO 2020 otorgará becas de alojamiento, inscripción y/o almuerzo. <br> 

    <!-- Las postulaciones se presentan únicamente envíando la información por medio del 
    <a href="https://forms.gle/rkpmbpXrnSeSQwjH8" target="_blank"> <font size="3"> formulario</font></a>.<br> -->

   <strong>Plazo de postulaciones: 4/2/20 al 9/02/20. (Nueva convocatoria).</strong><br>
    
    Comunicación de seleccionados: 11/2/20. <br>

    Destinatarios: Estudiantes de grado y posgrado de Universidades Públicas. <br><br>

    Consultas: riobecas@dc.exa.unrc.edu.ar <br> 

    <br>
    <br>


</p>
      <h3><u>Convocatoria a estudiantes voluntarios de la UNRC</u></h3>

  <p class="justi">
<!--     <strong>  Los interesados deben aplicar completando el formulario disponible en el link a continuación, antes del 31 de Enero del 2020:</strong><br><br> -->
     <!--  <a href="https://docs.google.com/forms/d/e/1FAIpQLSem9qpeDlfB7LboiLiEnRsRQ9WVr1bzQwlqtBQEYchJoz0-FA/viewform?usp=sf_link" target="_blank"> <strong><font size="3"> Formulario de aplicación</strong></font></a> <br><br>
 -->
     <strong>  La comunicación de los seleccionados será el día 3 de Febrero del 2020</strong><br><br>

    Esta convocatoria está destinada únicamente a estudiantes de carreras del Departamento de Computación de la UNRC. <br>

    Los estudiantes voluntarios tendrán un rol crucial en la organización de la Escuela de Verano. Colaborarán a la organización en diversas tareas, entre las que se destacan: <br><br>

    - Asistencia técnica en los cursos, <br>
    - Ayudar con los eventos que se desarrollen durante la escuela: choripaneada, viaje, etc.,<br>
    - Colaborar en la registración, armado de carpetas, identificaciones, etc.<br>
    - Asistir a los participantes del evento.<br><br>

    Ser estudiante voluntario es una gran oportunidad para conocer e interactuar con los reconocidos docentes e investigadores que participarán de la escuela, y generar vínculos con estudiantes de carreras de Computación de otras universidades nacionales y regionales que asisten a la escuela.<br>

    Como beneficios adicionales, los estudiantes voluntarios tendrán acceso gratuito al almuerzo durante la semana de la escuela, a los eventos asociados (viaje y choripaneada), y se les obsequiará una remera de la organización de la Escuela.<br>

  <br>
  </p> 

  

       
</div>
</div>
</section>
