<html>
<head>
<title>Font Awesome 5 Icons</title>
<meta name='viewport' content='width=device-width, initial-scale=1'>
<script src='https://kit.fontawesome.com/a076d05399.js'></script>
<!--Get your own code at fontawesome.com-->
</head>

<section class="page-title">
  <div class="container">
    <h2>Charlas</h2>
    <ul class="list-inline">
      <li><a href="/">Home</a></li>
      <li><a href="#"><i class="fa fa-angle-right"></i> Congreso</a></li>
    </ul><!-- /.list-inline -->
  </div><!-- /.container -->
</section><!-- /.page-title -->


<section class="school">
  <div>
    <center>
      <h2>Charlas</h2>
    </center>
  </div>

<ul class="courses">
      <li>
        <h3> <bold>Charla 1</bold>: <a href="#" onclick="toggleCourse('charla1'); return false;">La Evolucion de las APIs: GraphQL</a></h3>
       
        <h4> A cargo de: <%= link_to 'WeDevelop', 'https://wedevelop.me/', target: '_blank' %>
       </h4>  
        <h5> <i class='fas fa-calendar-alt'></i> Martes 18 de Febrero. 15hs </h5> 

        <div id="charla1" class="description">
          <strong>Abstract</strong> <br>
          Diseño avanzado de API usando GraphQL, un producto de Facebook que está haciendo podio en el mundo de las API por sobre REST. Usando el stack de Javascript más popular: Node.js + Express.
        </div>
      </li>
   
  
      
    </ul>

</section>


<script type="text/javascript">
function toggleCourse(id) {
  $(`.school ul.courses li div#${id}`).toggle();
}
</script>
